<div class="question">
  <h1>Ask the stupid coach</h1>
  <form action="/answer" method="get">
    <input type="text" name="input" value="<%= params[:answer] %>" placeholder="Ask a question">
    <input type="submit" value="Ask!">
  </form>
</div>
